# General
DOMAIN=localhost:8080

# Audio Service Config
METADATA_DATABASE_URL=postgres://postgres:kidsloop@localhost:5432/audio_db
S3_BUCKET_ENDPOINT=localhost:9000
PUBLIC_KEY_BUCKET=org-public-keys
PRIVATE_KEY_BUCKET=org-private-keys
AUDIO_FILE_BUCKET=audio-recordings

# Core AWS Config
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123

# Logging
LOG_STYLE=STRING_COLOR
LOG_LEVEL=debug